main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#addPost-layout{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

form{
    padding: 1em;
    background-color: #f0f0f0;
    border-radius: 1em;
}

.addPost-form div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

.submit-button-div{
    display: flex;
    justify-content: center;
}

.submit-button{
    background-color: #343a8f;
    color: white;
    border-style: none;
    height: 2em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 4px;
    font-size: 1em;
}
.submit-button:hover{
    background-color: #45a049;
}
.hidden{
    display: none;
}

.file-selector-div{
    display: flex;
    align-items: center;
}

#image-label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    background-color: #444444;
    color: #f0f0f0;
    height: 2em;
    padding: 0 0.75em 0 0.75em;
    margin: 0;
    border-style: none;
    border-radius: 4px;
}

#image-label-label{
    padding-right: 0;
    margin-right: 1em;
}

#post-text-label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

#image-label:hover{
    background-color: #666666;
    color: #f0f0f0;
}