body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, label {
    color: #666666;
}

.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    margin: 5vw 0;
}
#username, #password {           
    width: 100%;                
    padding: 10px;             
    margin: 10px 0;             
    border: 1px solid #ccc;     
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.highlight {
    color: #11cfbc;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

h2 + h3 {
    margin: 10px;
}

h3 + h3 {
    margin: 10px;
}

.input-group {
    margin-bottom: 15px;
    text-align: center;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input::placeholder {
    color: #999;
    opacity: 1;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #343a8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #45a049;
}

.Forget-password {
    text-align: center;
    margin-top: 10px;
    color: #11cfbc;
}

header, footer {
    width: 100%;
    box-sizing: border-box;
}