body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    position: fixed; /* Keeps the header at the top */
    top: 0;
    left: 0;
    width: 100%; /* Ensure it spans the width of the screen */
}


nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 2vw;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li + li {
    padding-left: 10px;
    border-left: solid black 2px;
}

nav ul li a {
    font-family: monospace;
    text-decoration: none;
    color: #222;
    font-size: 1.6em;
    padding: 5px;
}

nav ul li a:hover {
    color: #444;
    text-decoration: underline;
    background-color: #ddd;
    border-radius: 15%;
}

nav ul li a:active {
    color: #30c9c9;
    text-decoration: underline;
}

header img {
    width: 64px;
    height: 64px;
    display: inline;
    margin-right: 2vw;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #11cfbc;
}
h4 {
    text-align: center;
    margin-bottom: 10px;
}
.spacer {
    margin: 10px 0;
}

.input-group {
    margin-bottom: 15px;
    text-align: center;
}
.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.input-group input::placeholder {
    color: #999;
    opacity: 1;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #343a8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-login:hover {
    background-color: #45a049;
}
.Forget-password {
    text-align: center;
    margin-top: 10px;
    color: #11cfbc;
}